# SPDX-FileCopyrightText: 2021-2022 Carnegie Mellon University
# SPDX-License-Identifier: 0BSD

/deploy-tier2/files/
/dist/
aws_creds.json
helloworld-*.tgz
openrtist-*.tgz
sinfonia-*.tgz
__pycache__/
*~
*.swp
*.env

logs/
deploy-tier2/k3s-installer.sh
deploy-tier2/kilo-crds.yaml
deploy-tier2/kilo-k3s.yaml
deploy-tier2/kilo-kube-router.yaml
deploy-tier2/kilo-podmonitor.yaml
deploy-tier2/kilo-wg-exporter.yaml
deploy-tier2/kubevirt-cr.yaml
deploy-tier2/kubevirt-operator.yaml


# Package managers

poetry.lock

# CarbonEgde

carbonedge*.yaml
